@CHARSET "UTF-8";

@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot');
}

#td-options-wrapper .te-row {
  margin-bottom: 20px;
}

#td-options-wrapper .te-row label {
  width: 47%;
  margin-right: 10px;
  display: inline-block;
}

#td-options-wrapper .te-row label:nth-child(1+2n) {
  float: left !important;
}

#td-options-wrapper .te-row label:nth-child(2n) {
  float: right !important;
}

#table-options-wrapper .te-row {
  margin-bottom: 20px;
}

#table-options-wrapper .te-row label {
  width: 47%;
  margin-right: 10px;
  display: inline-block;
}

#table-options-wrapper .te-row label:nth-child(1+2n) {
  float: left !important;
}

#table-options-wrapper .te-row label:nth-child(2n) {
  float: right !important;
}

.re-tableEdit:before {
  font-family: 'FontAwesome';
  content: "\f00a";
}

.redactor-editor table {
  width: inherit !important;
}